<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>商品名： <%= itemName %></p>
    <p>価格： <%= itemPrice %></p>
  </body>
</html>
